:root {
  --bgc-page: lavender;
  --card-shadow: .25rem .25rem .25rem rgba(0,0,0,.1),
    inset .25rem .25rem .25rem rgba(255,255,255,.5);
  --icon-size: 30px;
  --icon-check-size: 20px;
  --txt-col-1: #000;
  --txt-col-2: #444;
  --txt-col-3: #666;
  --card-border-rad: .75rem;
  --card-open-transition: 250ms;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bgc-page);
}

ol, ul { padding: 0; margin: 0; list-style-type: none; }

h1, h2, p {margin: 0;}
h1 {font-size: 3rem;}

#main {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: .5rem;
  overflow: hidden;
  overflow-y: auto;
}

.project-item {
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  box-shadow: var(--card-shadow);
}



/* cards */

.card {
  box-sizing: border-box;
  width: 100%;
  box-shadow: var(--card-shadow);
  padding: .5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    " drag  title   edit  "
    " ..... descr   descr "
    " ..... created ..... "
    " ..... due     ..... "
    " ..... tasks   tasks ";
  align-items: center;
  overflow: hidden;
} .card.active {
  height: auto;
  box-shadow: inset 0 0 5rem hsl(240, 70%, 90%);
} .card:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.card:first-of-type { border-radius: var(--card-border-rad) var(--card-border-rad) 0 0; }
.card:last-of-type { border-radius: 0 0 var(--card-border-rad) var(--card-border-rad); }

.card .title {
  font-size: 2rem;
  color: var(--txt-col-1);
  cursor: pointer;
  padding-left: .5rem;
}
.card .description {
  grid-area: descr;
  font-size: 1.5rem;
  color: var(--txt-col-2);
}
.card .date-creation {
  grid-area: created;
}
.card .date-due {
  grid-area: due;
}
.card .checklist {
  grid-area: tasks;
  display: grid;
}



/* card priority indicator */

.card[data-priority="low"] {
  background: linear-gradient(to right,lime, rgba(0, 128, 0, 0) 60px);
} .card[data-priority="low"].active {
  background: linear-gradient(to bottom,lime, rgba(0, 128, 0, 0) 60px);
}
.card[data-priority="middle"] {
  background: linear-gradient(to right, goldenrod, rgba(0, 128, 0, 0) 60px);
} .card[data-priority="middle"].active {
  background: linear-gradient(to bottom, goldenrod, rgba(0, 128, 0, 0) 60px);
}
.card[data-priority="high"] {
  background: linear-gradient(to right, orangered, rgba(0, 128, 0, 0) 60px);
} .card[data-priority="high"].active {
  background: linear-gradient(to bottom, orangered, rgba(0, 128, 0, 0) 60px);
}



/* card details transition */

.card .description,
.card .date-creation,
.card .date-due,
.card ul li {
  overflow: hidden;
  transition: var(--card-open-transition);
  height: 0rem;
}
.card.active .description,
.card.active .date-creation,
.card.active .date-due,
.card.active ul li {
  overflow: visible;
  height: 1.75rem;
}
/*individual settings*/
.card .description { margin-top: 0rem; margin-bottom: 0rem;}
.card.active .description { margin-top: 1rem; margin-bottom: .5rem;}
.card.active ul li { height: 2.5rem;}
.card .date-due  {margin-bottom: 0rem; }
.card.active .date-due  {margin-bottom: .5rem; }

.card ul li:nth-child(1) { transition-delay: 25ms; }
.card ul li:nth-child(2) { transition-delay: 50ms; }
.card ul li:nth-child(3) { transition-delay: 75ms; }
.card ul li:nth-child(4) { transition-delay: 100ms; }
.card ul li:nth-child(5) { transition-delay: 125ms; }
.card ul li:nth-child(6) { transition-delay: 150ms; }
.card ul li:nth-child(7) { transition-delay: 175ms; }
.card ul li:nth-child(8) { transition-delay: 200ms; }
.card ul li:nth-child(9) { transition-delay: 225ms; }
.card ul li:nth-child(10) { transition-delay: 250ms; }
.card ul li:nth-child(11) { transition-delay: 275ms; }
.card ul li:nth-child(12) { transition-delay: 300ms; }
.card ul li:nth-child(13) { transition-delay: 325ms; }
.card ul li:nth-child(14) { transition-delay: 350ms; }
.card ul li:nth-child(15) { transition-delay: 375ms; }
.card ul li:nth-child(16) { transition-delay: 400ms; }
.card ul li:nth-child(17) { transition-delay: 425ms; }
.card ul li:nth-child(18) { transition-delay: 450ms; }
.card ul li:nth-child(19) { transition-delay: 475ms; }
.card ul li:nth-child(1n+20) { transition-delay: 500ms; }



/* card icons */

.card li input[type="checkbox"] {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  appearance: none;
}
.card li input[type="checkbox"]::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0,0,0,.03);
  box-shadow: .1rem .1rem .1rem white,
    inset .1rem .1rem .25rem rgba(0,0,0,.1);
  border-radius: .25rem;
}
.card li input[type="checkbox"]::after {
  --check-anim-duration: 200ms;
  position: absolute;
  content: "";
  inset: -7px;
  background-color: red;
  clip-path: polygon(0 75%, 15% 60%, 15% 61%, 16% 62%, 18% 65%, 4% 78%, 1% 75%);
  animation: checkmark-backwards var(--check-anim-duration) ease-out forwards;
}
.card li input[type="checkbox"]:checked::after {
  animation: checkmark-forwards var(--check-anim-duration) ease-in forwards;
}
@keyframes checkmark-forwards {
  0% {opacity: 0;}
  1% {opacity: 1; clip-path: polygon(0 75%, 15% 60%, 15% 61%, 16% 62%, 18% 65%, 4% 78%);}
  30% {clip-path: polygon(0 75%, 15% 60%, 21% 66%, 26% 70%, 31% 76%, 9% 86%);}
  50% {clip-path: polygon(0 75%, 15% 60%, 35% 75%, 43% 81%, 49% 88%, 40% 100%);}
  100% {clip-path: polygon(0 75%, 15% 60%, 35% 75%, 85% 0, 100% 10%, 40% 100%);}
} @keyframes checkmark-backwards {
  0% {clip-path: polygon(0 75%, 15% 60%, 35% 75%, 85% 0, 100% 10%, 40% 100%);}
  50% {clip-path: polygon(0 75%, 15% 60%, 35% 75%, 43% 81%, 49% 88%, 40% 100%);}
  70% {clip-path: polygon(0 75%, 15% 60%, 21% 66%, 26% 70%, 31% 76%, 9% 86%);}
  99% {opacity: 1; clip-path: polygon(0 75%, 15% 60%, 15% 61%, 16% 62%, 18% 65%, 4% 78%);}
  100% {opacity: 0;}
}

.card label {
  font-size: 1.25rem;
  color: var(--txt-col-2);
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5), transparent 100%) no-repeat;
  background-size: 100%;
  transition: background-position 500ms;
  background-position-x: -100vw;
  cursor: pointer;
}
.card li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--txt-col-3);
  background-position-x: 100vw;
}

.card-icon {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
  appearance: none;
}
.card-icon::after {
  position: absolute;
  content: "";
  inset: 0;
  background-size: 100%;
  background-position: center;
}

.card-icon.icon-pin::after {
  background-image: url(./media/images/icons/pin.svg);
} .card-icon.icon-pin:checked::after {
  background-image: url(./media/images/icons/pin-active.svg);
}
.card-icon.icon-edit::after {
  background-image: url(./media/images/icons/edit.svg);
} .card-icon.icon-edit:checked::after {
  background-image: url(./media/images/icons/edit-active.svg);
}
.card-icon.icon-fav::after {
  background-image: url(./media/images/icons/fav.svg);
}.card-icon.icon-fav:checked::after {
  background-image: url(./media/images/icons/fav-active.svg);
}

.card ul li {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: .5rem;
}
.edit-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}
.delete-icon {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: auto;
  margin-bottom: auto;
}.icon-trash,
.icon-trash-lid {
  position: absolute;
  transition: rotate 300ms;
}
.icon-trash { transform-origin: 100% 0%;}
.icon-trash-lid { transform-origin: 250% 0%;}
.delete-icon:hover .icon-trash { rotate: -7deg;}
.delete-icon:hover .icon-trash-lid { rotate: 7deg; }

.card-icon.icon-edit:hover,
.card-icon.icon-pin:hover {
  animation: icon-shake 300ms;
  transform-origin: 0% 100%;
}
@keyframes icon-shake {
  0%, 100% { rotate: 0deg;}
  10% { rotate: 5deg;}
  20% { rotate: -5deg;}
  30% { rotate: 4deg;}
  40% { rotate: -4deg;}
  50% { rotate: 3deg;}
  60% { rotate: -3deg;}
  70% { rotate: 2deg;}
  80% { rotate: -2deg;}
  90% { rotate: 1deg;}
}

.card-icon.icon-fav:hover{
  animation: icon-spin 300ms;
  transform-origin: 50% 55%;
}
@keyframes icon-spin { to {rotate: 72deg;} }

.card-icon.icon-fav.shake {
  animation: icon-fav-shake 300ms;
}
@keyframes icon-fav-shake {
  0%, 100% {
    rotate: 0deg;
    filter: drop-shadow(0 0 5px goldenrod)
      brightness(150%);
  }
  10% { rotate: 10deg;}
  20% { rotate: -10deg;}
  30% { rotate: 8deg;}
  40% { rotate: -8deg;}
  50% { rotate: 6deg;}
  60% { rotate: -6deg;}
  70% { rotate: 4deg;}
  80% { rotate: -4deg;}
  90% { rotate: 2deg;}
}

.check-icon.icon-edit {
  width: var(--icon-check-size);
}

/*for testing*/
/* * {
  outline: 1px solid gray;
} */